streamlit==1.42.0
joblib==1.4.2
nltk==3.9.1
requests==2.32.3
beautifulsoup4==4.13.3
spacy==3.8.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
google-generativeai==0.3.2
gdown==4.7.3
